*   {  margin: 0%; padding: 0%;}
body{
    background-color: #0C122C;
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
}
.burbuja{
    position: absolute;
    align-self: flex-start;
    margin-left: 700px;
    width: 180px;
    height: 95px;
    background-image: url("images/Viñeta.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo{
    z-index: -1;
    position: absolute;
    bottom: 0%;
    height: 50%;
    width: 100%;
}
.txt_burbuja{
    margin-bottom: 15px;
    color: black;
    font-size: 30px;
}
.principal{
    width: 920px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.izquierdo{
    background-color: #1D2B68;
    width: 38%;
    min-width: 250px;
    height: 200px;
    border-radius: 10px 100px 10px 10px ;
    display: flex;
    align-items: center;
}
.derecho{
    background-color: #1D2B68;
    border-radius: 10px;
    width: 58%;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconos{
    margin-left: 12%;
    width: 176px;
    height: 126px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    width: 100%;
    height: 45px;
}
.img_logo{    height: 100%;     }
.ico_documento,.ico_folder,.ico_upload
{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    background-color: #0C122C;
    border-radius: 10px;
    width: 48px;
    height: 48px;
}
.img_documento,.img_folder,.img_upload{
    align-self: center;
    width: 30px;
    height: 25px;
}
.div_centrar{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 85%;
    height: 50%;
}
.texto1,.texto2,.texto3{    color: white;   }
.texto2{    margin: 0 5px 0 5px;    }
.barra{
    height: 12px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    background-color: black;
}
.gigas{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}
.progreso{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 6px;
    margin-left: 1px;
    height: 80%;
    width: 80%;
    background-image: linear-gradient(45deg, #f2a49e, #fb4d92);
    animation: progreso 9s;
    animation-iteration-count: none;
}
@keyframes progreso {
    from {width: 5%;}
    to {width: 80%;}    
}
.bolita{
    margin-right: 2px;
    border-radius: 50%;
    background-color: white;
    height: 10px;
    width: 10px;
}
@media screen and (max-width:500px) {
    .principal{
        width: 327px;
        height: 415px;
        flex-direction: column;
    }    
    .izquierdo{
        width: 100%;
    }    
    .derecho{
        width: 100%;
        height: 160px;
    }
}