*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 99.4vh;
    display: flex;
    justify-content: center;
}
.principal{
    width: 641px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.encabezado{
    height: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    display: flex;
    height: 47%;
    justify-content: center;
    align-items: flex-end;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 44%;
    text-align: center;
}

.contenido{
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario{
    height: 15%;
    display: flex;
    justify-content: space-between;
    border-color: #C9D3F6;
}

.input {
    padding-left: 5%;
    height: 50%;
    width: 60%;
    border-radius: 50px;
    align-self: center;
}

.subtitulo{
    color: #919191;
    font-size: 48px;
}

.strong{
    color: black;
}

.txt{
    color: #1E2327;
    font-size: 21px;
}

.boton{
    align-self: center;
    height: 50%;
    width: 31%;
    border-radius: 50px;
    background-color: #4D7BF3;
    border-style: none;
    color: #FFFFFF;
}

.imagen{
    height: 52%;
    background-image:url("images/illustration-dashboard.png");
    background-size: cover;
}

.pie{
    display: flex;
    flex-direction: column;
    height: 17.3%;
    justify-content: space-evenly;
}

.iconos{
    display: flex;
    width: 23%;
    align-self: center;
    justify-content: space-evenly;
}

.copy{
    text-align: center;
    color: #ADADAD;
}

@media screen and (max-width:400px) {
    .formulario{
        flex-direction: column;
    }

    .boton{
        width: 65%;
    }

    .principal{
        width: 375px;
        height: 812px;
    }
}
