* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    min-width: 250px;
}
.bordes {
    border-radius: 10px;
    border-top: 5px solid #D9B355;
    box-shadow: 0 5px 5px #bfbfbf;
}
main {
    margin: auto;
    display: flex;
    width: 85%;
    height: 85%;
}
.menuPrincipal {
    justify-content: space-between;
}
.menuPrincipal section {
    width: 50%;
    display: grid;
    row-gap: 50px;
}
.informacion {
    grid-template-columns: 90%;
    grid-template-rows: 2fr 1fr;
}
.informacion__imagen {
    width: 100%;
}
.informacion__Datos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.opciones {
    column-gap: 70px;
}
.opciones__controlMaquinaria {
    grid-column: 1 / 3;
}
.opciones div {
    justify-content: center;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.opciones div img {
    width: 100px;
    align-self: center;
    justify-self: center;
}
.indicadorEstadoFormulario {
    max-width: 15px;
    max-height: 15px;
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;
    justify-self: right;
    align-self: center;
    background-color: green;
    border: none;
}
.opciones__controlNeumaticos--inactivo img {
    content: url('../imagenes/iconoNeumaticos--inactivo.svg');
}
.opciones__controlNeumaticos--inactivo {
    color: #C7C7C7;
}
.opciones__controlNeumaticos--inactivo div {
    background-color: #C7C7C7;
}
.opciones__combustible--inactivo div {
    background-color: #C7C7C7;
}
.opciones__combustible--inactivo img {
    content: url('../imagenes/iconoCombustible--inactivo.svg');
}
.opciones__combustible--inactivo {
    color: #C7C7C7;
}
.opciones__controlMaquinaria:hover img {
    content: url('../imagenes/iconoControlMaquinaria--hover.svg');
}
.opciones__controlMaquinaria:hover h2 {
    transition: none;
    color: #D9B355;
}
.opciones__mantenimientos:hover img {
    content: url('../imagenes/iconoMantenimientos--hover.svg');
}
.opciones__mantenimientos:hover h2 {
    transition: none;
    color: #D9B355;
}
.opciones__tarifas:hover img {
    content: url('../imagenes/iconoTarifas--hover.svg');
}
.opciones__tarifas:hover h2 {
    transition: none;
    color: #D9B355;
}
.opciones__combustible:hover img {
    content: url('../imagenes/iconoCombustible--hover.svg');
}
.opciones__combustible:hover h2 {
    transition: none;
    color: #D9B355;
}
.opciones__controlNeumaticos:hover img {
    content: url('../imagenes/iconoNeumaticos--hover.svg');
}
.opciones__controlNeumaticos:hover h2 {
    transition: none;
    color: #D9B355;
}
h1 {
    font-size: 3vw;
}
h2 {
    font-size: 1.3vw;
}
:focus {
    outline: none;
}
.inactivo {
    color: #C7C7C7;
}
.input,.input2 {
    border: 2px solid #D9B355;
    padding-left: 15px;
}
.input2,.input2T {
    height: 25px;
    border-radius: 5px;
    width: 30%;
}
.inputdiv,.input {
    height: 25px;
    width: 50%;
    border-radius: 5px;
}
.boton {
    width: 80px;
}
p {
    width: 50%;
    text-align: left;
}
@media screen and (max-width:750px) {
    .menuPrincipal {
        flex-direction: column;
    }
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 3vw;
    }
    .menuPrincipal section {
        width: 100%;
        row-gap: 30px;
    }
    .informacion {
        margin-bottom: 30px;
        grid-template-columns: 100%;
        grid-template-rows: 2fr minmax(100px, 1fr);
    }
    .opciones {
        column-gap: 30px;
    }
}
@media screen and (max-width:450px) {
    .opciones__controlMaquinaria {
        grid-column: 1;
    }
    h2 {
        font-size: 5vw;
    }
    .menuPrincipal {
        width: 100%;
    }
}