.contenedorPrincipal {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.oculto {
    opacity: 0;
}
.titulo {
    margin-right: 6%;
    height: 100px;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contenedorPrincipal .titulo img {
    width: 50px;
}
.formulario {
    width: 100%;
    height: 76%;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
}
.formulario__opciones {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}
.formulario__datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    height: 100%;
    width: 65%;
}
.formulario__opciones div a,img {
    width: 50px;
}
.opciones__volver {
    display: flex;
}
.opciones__volver {
    display: flex;
}
.formulario__opciones div {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 60%;
    height: 20%;
}
.formulario__opciones div:hover {
    cursor: pointer;
}
.formulario__informacion {
    width: 20%;
}
.formulario__informacion .informacion__Datos {
    height: 100px;
}
.pestaña--activa {
    width: 130%;
    border-right: 20px solid #FFF;
    box-shadow: -2px 5px 3px #bfbfbf;
    z-index: 1;
}
.formulario__datos div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.formulario__datos div img {
    width: 100px;
}
.medidaTotal {
    width: 100%;
    border: 2px solid #c5ab6b;
    border-radius: 20px;
}
.barraMedida {
    align-self: flex-start;
    border-radius: 20px;
    background-color: #D9B355;
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid;
}
.indicadorBlanco {
    background-image: url('../imagenes/iconoNeumaticos--activo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-end;
    width: 35px;
    height: 35px;
}
:disabled{
    background-color: #ebce87;
}
@media screen and (max-width:750px) {
    .formulario__opciones div a,    img {
        width: 30px;
    }
    .contenedorPrincipal section {
        width: 100%;
        margin: 0;
    }
    .formulario__datos {
        width: 80%;
    }
    .formulario__opciones {
        width: 15%;
    }
    .formulario__opciones div {
        height: 15%;
    }
    .formulario__informacion {
        display: none;
    }
    .pestaña--activa {
        width: 138%;
    }
}
@media screen and (max-width:450px) {
    .formulario__opciones {
        width: 20%;
    }
    .formulario__opciones div .indicadorEstadoFormulario {
        display: none;
    }
    .formulario__opciones div img {
        width: 30px;
    }
    .pestaña--activa {
        width: 110%;
    }
}