body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-size: 32px;
}

/*
:root{
    --g1:none;
    --g2:block;
}

.boton :hover{
    --g1:block;
    --g2:none;
}

#grupo2{
    display: var(--g1);
}

#grupo1{
    display: var(--g2);
}
*/

.fondo_inferior{
    position: absolute;
    width: 40%;
    bottom: 0px;
    left: 0px;
}

.fondo{
    height: 80%;
    position: absolute;
    display: flex;
    right: 10%;
}

.contenido{
    position: absolute;
    display: flex;
    width: 1107px;
    height: 540px;
}

.comillas{
    top: 100px;
    left: 95px;
    position: absolute;
}

.parrafo{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 140px;
    width: 639px;
}

.texto{
    color: #B8B6C4;
    font-size: 20px;
    margin-top: 5px;
}

.tanya{
    color: #000000;
}

.imagen_mobile{
    display: none;
}

.imagen{
    position: absolute;
    right: 0px;    
}

.border{
        border-radius: 10px;

}

.boton{
    position: absolute;
    width: 112px;
    top: 520px;
    left: 633px;
}

@media screen and (max-width:1109px) {
    
    .fondo_inferior{width: 100%;}

    .contenido{
        flex-direction: column;
        width: 320px;
    }

    .imagen{display: none;}

    .imagen_mobile{
        display: block;
        align-self: center;
    }

    .parrafo{
        left: 5px;
        top: 311px;
        font-size: 18px;
        text-align: center;
        width: 307px;
    }

      .texto{
        margin-top: 5px;
        align-self: center;
        width: 200px;
        font-size: 15px;
    }

    .fondo{
    top: -150px;
    left: 0px;
    position: relative;
    height: 307px;
    width: 326px;  
    }

    .comillas{
        width: 60px;
        left: 125px;
        top: 300px;
    }

    .boton{
        width: 80px;
        top: 235px;
        left: 117px;
    }

}