*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:focus{
    outline: none;
}
.rojo{
    color: #FF0000;
}
body{
    height: 100vh;
    min-width: 350px;
    font-family: 'Roboto', sans-serif;
}
.filtroPrincipal img{
    width: 25px;
    margin: auto 15px;
}
.visorAdjuntos img,.visorFiltros img{
    width: 1vw;
    margin:0 10px 0 10px;
}
main,header,.tarjeta{
    width: 95%;
}
header{
    margin-bottom: 20px;
}
body,main,header,.Adjunto,.pestañas,.tarjeta,.visorAdjuntos,.tarjeta strong,.filtroPrincipal,.pestañas__opcion,.filtro__controles,.filtro__filtrarId,.asideResultados__filtro,.sectionInformacion__informacion,.visorFiltros,.visorDatosActividad,.visorDatosActividad strong,.observaciones,.observaciones__formulario,.observaciones__informacion,.scroll{
    display: flex;
}
body,header,.asideResultados__filtro,.sectionInformacion__informacion,.scroll,.observaciones__informacion{
    flex-direction: column;
}
body,.visorAdjuntos,.visorFiltros,.asideResultados__filtro,.sectionInformacion__informacion,.visorDatosActividad,.pestañas__opcion,.observaciones__informacion{
    align-items: center;
}
.filtroPrincipal__input{
    width: 60%;
}
.input--bordes{
    border: 2px solid #C7C7C7;
}
.input--bordes,.boton{
    border-radius: 5px;
}
input,select,textarea{
    padding-left: 15px;
}
select{
    -webkit-appearance: none;
    background-image: url('../imagenes/iconoBuscarSelect.svg');
    background-position: right;
}
select,.boton__filtroId{
    background-repeat: no-repeat;
    background-size: contain;
}
.contenedor--bordes{
    border: 1px solid #C7C7C7;
}
.contenedor--sombras{
    box-shadow: 6px 6px 10px #C7C7C7;
}
.boton{
    background-color: #0071D0;
    border: none;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #FFF;
}
.textoInformacion{
    width: 30%;
}
.boton:hover{
    background-color: #7ec2fa;
    cursor: pointer;
}
input,.boton,.visorFiltros,.visorAdjuntos{
    height: 30px;
}
.visorAdjuntos,.visorFiltros{
    padding-left: 8px;
}
.visorDatosActividad,.observaciones__formulario,.tarjeta{
    flex-wrap: wrap;
}
.Adjunto{
    margin: 0 8px 0 8px;
}
main{
    height: 75%;
}
.asideResultados{
    width: 20%;
}
.asideResultados__filtro,.sectionInformacion__informacion,header{
    justify-content: space-evenly;
    height: 15%;
}
.asideResultados__resultados,.sectionInformacion__pestañas{
    height: 85%;
}
.asideResultados__resultados{
    direction: rtl;
}
.asideResultados__resultados,.observaciones__informacion{
    overflow-y: scroll;
}
.asideResultados__resultados::-webkit-scrollbar,.observaciones__informacion::-webkit-scrollbar{
    background-color: transparent;
    width: 6px;
}
.asideResultados__resultados::-webkit-scrollbar-thumb{
    background-image: url('../imagenes/scroll.svg');
    background-size: cover;
    height: 50%;
}
.filtro__filtrarId,.filtro__controles,main,.observaciones__formulario{
    justify-content: space-between;
}
.boton__filtroPrincipal{
    width: 100px;
}
.boton__filtroId{
    background-image: url('../imagenes/iconoBuscar.svg');
    background-position: center;
    width: 25%;
}
.filtro__controles--item,h3{
    font-size: 1vw;
    height: 1vw;
}
textarea,.visorAdjuntos,iframe,.visorDatosActividad,.tarjeta h2,.tarjeta .textoAncho,.observaciones__formulario div,.observaciones__formulario input,.areaTrabajo section{
    width: 100%;
}
.visorAdjuntos{
    margin: auto;
}
.sectionInformacion,.filtro__filtrarId,.filtro__controles{
    width: 78%;
}
.pestañas{
    height: 6%;
}
.pestañas__opcion{
    justify-content: center;
    width: 16%;
}
.pestañas__opcion:hover,.tarjeta:hover{
    background-color: #EEE;
    cursor: pointer;
}
.pestañas__opcion--activa{
    border-bottom:5px solid #0071D0;
}
.areaTrabajo,.areaTrabajo section{
    height: 94%;
}
iframe{
    height: 100%;
}
iframe::-webkit-scrollbar{
    display: none;
}
.scroll{
    align-items: flex-end;
    direction: ltr;
}
.tarjeta{
    line-height: 2vw;
    padding: 10px 20px 10px 20px;
    border-bottom:2px solid #C7C7C7;
}
.tarjeta--activa{
    border-right:8px solid #0071D0;
}
.tarjeta strong{
    width: 50%;
}
.areaTrabajo select{
    height: 25px;
}
.observaciones__formulario{
    width: 80%;
}
.observaciones__formulario input textarea{
    height: 150px;
}
.observaciones__formulario p,.observaciones__informacion,.input__filtroId{
    width: 90%;
}
.observaciones__formulario select{
    width: 90%;
}
.boton--ejecutarActividad{
    width: 50%;
    align-self: flex-end;
}
.observaciones__informacion,.observaciones__formulario{
    padding: 25px;
}
table{
    border-top:4px solid #0071D0;
    width: 80%;
    text-align: left;
}
tr{
height: 40px;
}
.observaciones__informacion h1{
    margin: 40px 0 10px 0;
}
.descriptores{
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}
.descriptores p{
    color: #FF0000;
}
.descriptores h1{
    width: 100%;
}
.descriptores select,.descriptores strong{
    width: 50%;
    display: flex;
}
.boton--descriptores{
    width: 50%;
}
.boton--mas{
    width: 30px;
}
h1{
    font-size: 2vw;
}
h2{
    font-size: 1.1vw;
    color: #0071D0;
}
strong,p{
    font-size: .9vw;
}
p,h5{
    font-weight: 300;
}
h5{
    font-size: .9vw;
}