*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:focus{
    outline: none;
}

body{
    padding: 0 40px 0 40px;
    background-color: #E7F0F0;
    color: #4C88B5;
    font-family: 'Roboto';
    font-weight: 600;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.encabezado{
    width: 95%;
    position: fixed;
    top: 0%;
}

.titulo{
    height: 85px;
    font-size: 40px;
    border-bottom:3px solid #999999;
    display: flex;
    align-items: center;
}

.informacion{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.principal{
    padding: 6px 18px 6px 18px;
    background-color: #FFF;
    border-radius: 20px;
    width: 700px;
    align-self: center;
    box-shadow: 8px 8px 8px #C0C7C7;
    display: flex;
    flex-wrap: wrap;
}

.txt_formulario{
    margin: auto;
    width: 50%;
}

input,select{
    color: #999;
    padding-left: 15px;
    margin: 4px 0 4px 0;
    height: 30px;
    border-radius: 5px;
    border: 3px solid #999;
    width: 50%;
}

button{
    margin-top: 4px;
    background-color: #4C88B5;
    color: #FFF;}
button:hover{
    background-color: #65aadf;
}

.txt_form{
    margin: auto 13px;
    color: #999;
}

.check{
    height: 30px;
    width: 50%;
}

.active{
    background-image:url('images/check.svg');
    transition: .25s;
}
.inactive{
    background-image:url('images/uncheck.svg');
    transition: .25s;
}
.check2{    
    background-size: cover;
    height: 90%;
    width: 53px;
}

.check3{
    opacity: 0%;
    width: 50px;
    z-index: 1;
}

.botoncito{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.input_seleccionar{
    border-left: none;
    padding: 0%;
  }

@media screen and (max-width:700px) {

    .principal{
        width: 335px;
    }
}