*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:focus{
    outline: none;
}

body{
    transition: 1.5s;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #6C6A6A;
    font-family: 'Roboto';
}

.principal{
    width: 95%;
    margin: auto;
    height: 500px;
    border-top: solid #C4C4C4;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

aside{
    width: 49%;
    height: 95%;
}

.imagen{
    min-width: 325px;
    background-image: url('images/Imageners-teamviewer-2.jpg');
    background-size: cover;
    background-position: center;
}

.formulario{
    min-width: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0 20px 0;
}

input{
    height: 33px;
    border-radius: 5px;
    width: 100%;
    border: 2px solid #E5E5E5;
    padding-left: 15px;
}
input::placeholder{
    font-weight: 600;
    color: #C4C4C4;
}

.politica{
    text-align: justify;
    font-size: 13px;
    text-indent: 15px;
}

.check{
    margin-top: -10px;
    position: absolute;
    width: 13px;
    align-self: flex-start;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: #2281FF;
}

.boton{
    align-self: flex-end;
    width: 125px;
    height: 35px;
    border: none;
    border-radius: 17px;
    background-color: #2281FF;
    color: #FFFFFF;
    font-weight: 600;
}

.boton:hover{
    background-color: #8EBFFF;
}

.pie{
    height: 126px;
    border-top: solid #2281FF;
    background-color: #262A2E;
    display: flex;
}

.txt_pie{
    margin: auto;
    text-align: center;
    color: #C4C4C4;
}

.error,.vacio{
    border:2px solid #FF7979;
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: center;
    transition: 1s;
}
.error{    
    background-image: url('images/error_datos.svg');
    }
.vacio{    
    background-image: url('images/vacio.svg');
    }

@media screen and (max-width:650px) {

    body{
        min-width: 355px;
        height: 1000px;
    }

    .principal{
        border: none;
        flex-direction: column;
        width: 335px;
        height: 100%;
    }

    .imagen{
        width: 100%;
        margin-top: 30px;
        height: 335px;
    }

    .formulario{
        width: 100%;
    }

    .error,.vacio{
        background-image: url('images/icon-error.svg');
    }
}